name: CI

on:
  push:
    branches:
      - main
  schedule:
    # at 9am on Monday every week
    - cron:  '0 9 * * 1'

jobs:
  smoke-test:
    name: "empress-blog quickstart on OS: ${{ matrix.os }} with Node ${{ matrix.node }} and Ember ${{ matrix.ember }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        node:
          - 12
          - 14
          - 16
        ember:
          - latest
          - 3.24
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm i -g npm@7
      - run: npx ember-cli@${{ matrix.ember }} new super-blog
      - run: (yes | npx ember install empress-blog empress-blog-casper-template) & read -t 300 || exit 0
        working-directory: ./super-blog
      - run: npx ember build
        working-directory: ./super-blog
